<nb-card size="large" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Temperatura">

      <div class="slider-container">
        <ngx-temperature-dragger [(value)]="temperature" (power)="temperatureOff = !$event;setTemperature(temperature)"
                                 [min]="14" [max]="28" [disableArcColor]="colors.layoutBg"
                                 [fillColors]="colors.temperature" (valueChange)="setTemperature($event)">

          <div class="slider-value-container">
            <div class="value temperature">
              {{ currentMeasure.current_temp | number:"1.0-1" }}
            </div>
            <div class="desc">
              Humedad: <span>{{ currentMeasure.current_humidity | number:"1.0-1" }}%</span>
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>

      <div [(ngModel)]="temperatureMode" ngbRadioGroup data-toggle="buttons"
           class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width">
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="cool"/><i class="nb-snowy-circled"></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="warm"/><i class="nb-sunny-circled"></i>
        </label>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
